{% extends 'layouts/main.twig' %}

{% block title %} Товары {% endblock %}

{% block content %}
<div class="goods__catalog">
    {% for good in catalog %}
        <div class="goods__catalog-item">
            <a href="/catalog/view/?id={{ good.ID }}" class="goods__catalog-link"><img
                        src="/img/goods/{{ good.sThumb }}" alt="{{ good.sName }}" class="goods__img">
                <h3 class="goods__name">{{ good.sName }}</h3></a>
            <p class="goods__price align--left" data-id="{{ good.ID }}">{{ good.fPrice }} руб.</p>
            <div class="buy-form">
                <input type="number" name="nCount" min="1" value="1" data-id="{{ good.ID }}">
                <button class="btn buy-btn" data-id="{{ good.ID }}">Купить</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}