{% extends 'layouts/main.twig' %}

{% block title %} Товар {{ good.sName }} {% endblock %}

{% block content %}
    <div>
        <h1>{{ good.sName }}</h1>
        <ul>
            {% for key, good in goods %}
                <li><b>{{ key }}</b>: {{ good }} </li>
            {% endfor %}
        </ul>
        <a href="/good/update/?id={{ good.ID }}">Редактировать товар</a>
    </div>
{% endblock %}